.carousel-slider-btn {
	margin-top: 5px !important;
    position: absolute;
}

.thumbnail-image{
	height: 370px;
}
.position-absolute {
	position: absolute;
}
.share-to-facebook-btn {
	position: absolute;
	right: 10px;
	top: 20px;
	color: blue;
}
.share-to-facebook-btn:hover {
	color: blue;
}